.info {
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../assets/images/registerBackground.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}
.otherInfo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 30px;
  margin-left: 40px;
  font-size: 2.6rem;
  font-family: EYinterstate-bold;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1em;
}

.title {
  display: flex;
  margin-left: 40px;
  margin-top: 40px;
  font-size: 3.6rem;
  font-family: EYinterstate-bold;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.1em;
}

.datacontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: EYinterstate-bold;
  width: 100% !important;
}

.paymentTypeText {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  font-size: 1.9rem;
}

.paymentType {
  display: flex;
  justify-content: space-evenly;
  margin: 45px 30px;
  font-size: 1.5rem;
}

.paymentType .ui.button.toggle.active {
  color: #000 !important;
  background: #e2cb00dc !important;
}

.paymentType .ui.button.toggle.active:hover {
  background: #b8a500dc !important;
}

.buttonEY {
  background: #e2cb00dc !important;
}

.buttonEY:hover {
  color: #fff !important;
  background: #b8a500dc !important;
}

@media only screen and (max-device-width: 766px) {
  .info {
    height: auto;
    flex-direction: column;
  }

  .title {
    font-size: 1.5rem;
    margin-top: 55px;
  }

  .otherInfo {
    font-size: 1.1rem;
    margin: 0;
  }
}

@media only screen and (max-device-width: 1000px) {
  .title {
    font-size: 1.5rem;
  }

  .otherInfo {
    font-size: 1.1rem;
  }
}
