@font-face {
  font-family: "EYInterstate-Light";
  src: url("https://static1.squarespace.com/static/5babcd89fb22a56e07040be8/t/5bbe122f4785d31544df34eb/1539183152109/EYInterstate-Light.woff") format("woff");
}

@font-face {
  font-family: "EYInterstate-Bold";
  src: url("https://static1.squarespace.com/static/5babcd89fb22a56e07040be8/t/5bbe1236e5e5f0f0a6dd1acb/1539183158531/EYInterstate-Bold.woff") format("woff");
}
